[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AQLSchemes"]
	path = AQLSchemes
	url = https://github.com/cran/AQLSchemes
[submodule "IAcsSPCR"]
	path = IAcsSPCR
	url = https://github.com/cran/IAcsSPCR
[submodule "daewr"]
	path = daewr
	url = https://github.com/cran/daewr
